<h1>There are many ways to learn!</h1>
<p>Education and learning have been core values of mine my whole life.<br>
   Exploring and applying education strategies are vital!<br>
   Effective learning strategies can scale up from a very young age, into the classroom, and on into professional development.<br>
   Goals within the various students I work with include<br>
   helping them discover and use their most effective learning techniques,<br>
   making sure everything they learn is always relevant to them,<br>
   and constantly building bridges between what they already know<br>
   and what they are about to learn.<br></p>

<p>High quality education must be offered from childhood on into adult life.<br>
	Professional development where language is fundamental to any successful career.</p>
<p>
    In the classroom, I want to help unlock the students' ability to learn and grasp new and challenging concepts.<br>
    In a language learning environment, I would like to teach you English.<br>
    If you want to use Mandarin, Cantonese, or ASL to help you get there,<br>
    I would be very excited to be your teacher<br>
    as these languages are all very dear to me and a part of my daily communication.
</p>
