<div class="app-card-container">
  <div class="card">
	<h1>Let's work together!</h1>

	<p><i>Focusing on services for language learners, parents, schools, Speech Language Pathologists and Occupational Therapists.</i></p>
	<p>Phone: <%= number_to_phone "4034720181" %></p>
	<p><a href="mailto:phil@vaspec.ca?subject=PortfolioContact" "email me">Email me</a> | <a href="https://calendar.google.com/calendar/embed?src=71ic6e5nmr2vfemjv3outverfk%40group.calendar.google.com&ctz=America%2FVancouver">Available appointments</a></p>
	<p>Based out of Vancouver, BC<br></p>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d166654.5516351357!2d-123.26398589126369!3d49.25787485419848!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548673f143a94fb3%3A0xbb9196ea9b81f38b!2sVancouver%2C%20BC!5e0!3m2!1sen!2sca!4v1568041106535!5m2!1sen!2sca" width="300" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
</div>

