<div class="app-card-container">
<div class="card">
  <center><h1>Everyone has the power to learn.</h1>
  <p class="lead">Language is a key that can unlock many doors. 
  				<br>Every adult and child alike
  				<br>has the ability to learn and tap into an exciting world of exploration!</p></center>
  <p class="lead">
    <center><%= link_to "About Me", about_me_path, class: "btn btn-med btn-secondary" %></center>
  </p>
</div>
</div>
