<div class="inner cover">
  <h1 class="cover-heading">Everyone has the power to learn.</h1>
  <p class="lead">Language is a key that can unlock many doors. 
  				<br>Every adult and child alike
  				<br>has the ability to learn and tap into an exciting world of exploration!</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
